@import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#serviceTable {
  margin: 0px auto;
}

footer {
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 0px
  text-align: center;
  background-color: #222222;
  color: white;
  position: relative;
  z-index: 9999;
}

#bio{
  margin-top: 20px;
}

#contact{
  margin-top: 75px;
  padding-bottom: 100px;
  width: 100%;
  font-size: 15px;
  background-color: #242425;
  color: #D3D3D5;

}

#portfolio .portfolio-hover {
  background: rgba(245, 245, 245, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-hover:hover {
  opacity: 1;
}

#services{
  height: auto;
  margin-top: 50px;
  padding-bottom: 125px;
  width: 100%;
}

.banner-social-buttons{
  padding-top: 50px;
}

.servicelist {
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}


.intro_map {
  height: 325px;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.img-circle {
  margin-top: 20px;
}

.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fb8f28;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: grey;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
  background-color: #222222;
}
.navbar-default .navbar-toggle {
  background-color: #fb8f28;
  border-color: #fb8f28;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fb8f28;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fb8f28;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: grey;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fb8f28;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fb8f28;
}

.team-member {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  .content-section {
    padding-top: 200px;
  }
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

@media (max-width: 990px){
  .servicelist {
    margin-left: 120px;
  }
}


ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: blue;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fb8f28;
}
